[submodule "jquery"]
	path = jquery
	url = https://github.com/chiem/jquery-final.git
[submodule "jquery-ui"]
	path = jquery-ui
	url = https://github.com/chiem/jquery-ui-final.git
[submodule "ejs"]
	path = ejs
	url = https://github.com/chiem/ejs-final.git
[submodule "jasmine"]
	path = jasmine
	url = https://github.com/chiem/jasmine-final.git
[submodule "jwplayer"]
	path = jwplayer
	url = https://github.com/chiem/jwplayer-final.git
